meow
{
    color: #ffffff;
}
h1
{
    font-size: 17px;
    font-style: bold;
    text-decoration: wavy;
    font-weight: 500;
    margin-left: 6px;
}
.Logo
{
    border-radius: 20px;
    background-color: rgb(26, 24, 24);
}

.dropDowns
{
    position: absolute;
    top: 0;
    right:10px;
    place-items: right;
    color: white;
}